<div class="info-container">
    <h2>Welcome to Pet Adoptions!</h2>
    <p>
      Thank you for choosing our platform to adopt and register pets. Please read the following guidelines carefully:
    </p>
    <ul>
      <li>Use the correct credentials when registering.</li>
      <li>Each email can be used to create one account only.</li>
      <li>If you wish to register as both an owner and a user, please use different email accounts for each role.</li>
      <li>Once registed as an <b>owner</b>, ensure you upload a clear image of your pet and provide accurate details during registration.</li>
      <li>After registering your pets, they will be listed under the <b>My Animals</b> page.</li>
      <li>If any of your animals is adopted, you will receive an email with the adopter's contact details for further proceedings.</li>
      <li>Once registered as a <b>user</b>, you can register your pet animals, either dogs or cats.</li>
      <li>Each user can adopt as many pets as they like.</li>
      <li>
        Top adopters receive a special discount of ₹500 if they rank among the <b>top 3</b> on the leaderboard.
      </li>
    </ul>
    <p>
      Thank you for helping us find loving homes for these animals!
    </p>
  </div>
  